*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    min-height: 100vh;
    margin: auto;
    font-family: "DM Mono", monospace, roboto;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1
}

/* Color and fonts */

.header-container,
.hero-container,
.footer {
    background-color: #1F2937;
}

button,
.call {
    background-color: #3882F6;
}

.quote-container {
    background-color: #E5E7EB;
}


.hero-text-header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.hero-text,
.hero-img,
.header a,
button,
.call,
.footer {
    color: #ffffff;
    font-size: 18px;
}

.logo-placeholder.bold a,
.call-text-header.bold {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}


.card-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

button {
    font-weight: 900;
    padding: 10px 30px;
    border:none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* Layout */

.header,
.hero,
.call,
.info-cards,
.quote {
    margin:auto;
}

.header,
.hero,
.call {
    width: 70%;
}

.info-cards,
.quote {
    width: 65%;
}

.header-container {
    padding:20px 0px;
}

.hero-container {
    padding: 80px 0px 100px;
}

.info-cards-container {
    text-align: center;
    padding: 50px 0px 100px;
}

.quote-container {
    padding: 150px 0px 100px;
}

.call {
    margin: 125px auto 125px;
    padding: 50px 100px;
}

.header {
    display:flex;
    gap: 20px;
    list-style: none;
    padding:0px
}

.header a {
    text-decoration: none;
}

.logo-placeholder {
    margin-right: auto;
}


.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.hero-img,
.hero-text {
    flex: 1 1 290px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #546883;
}


.cards-container {
    margin-top: 50px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 35px;

}

.card {
    flex: 1;
    max-width: 200px;
}

@media (max-width: 900px) { /* Adjust breakpoint as needed */
    .card {
      flex: 0 1 46%;
      max-width: 190px; /* Adjust the percentage to allow 2 items per row */
    }
  }

.card-img {
    display: inline-block;
    width: 95%;
    height: auto;
    aspect-ratio: 1;
    border: 2px solid blue;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.quote-author {
    font-weight: 800;
    display: flex;
    justify-content: flex-end;
}


.call {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.call-text-container {
    flex: 2 1 70%;
}

.call-sign-up {
    min-width: 130px;
    flex: 1 0 auto;
    border: 3px solid white;
}

.footer {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}